server:
  port: 8080

spring:
  application:
    name: chat-service

logging:
  level:
    com.gyt.chat: INFO
    org.springframework.web: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger{50}] - %msg%n"

model:
  openai:
    api-key: 5007dd8ce8cb40f69bde8508377c35e8.ESlHwMubfN6Gs8AD
    base-url: https://open.bigmodel.cn/api/paas/v4
    model-name: glm-4.5-flash
  ollama:
    base-url: http://localhost:11434
    model-name: qwen3:1.7b
  temperature: 0.7
  timeout:
    second: 30
  primary: default
mapdb:
  dataPath: /data/chat-history
